.product-item{
    text-align: center;  
    /* background-color: rgb(173, 173, 230);  */
    border-radius: 5px;
    /* flex-direction: column; */ 
    border: solid 2px black;
    width: 250px;
    height: 300px;
}

.product-item img{
    max-width:250px;
    max-height:250px;
}

.product-item p{
    color: black;
}