@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,500;1,500&display=swap');

.navbar {
    display: flex;
    padding: 10px;
    box-shadow: 0 1px 3px -2px black ;
}

.nav-logo {
    flex-basis: 23%;
}

.nav-logo img {
    width:40px;
    height: 26px;
}

.nav-name {
    padding-left: 23%;
    font-family: "Wix Madefor Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(123, 124, 56);
}